@using Data_JobWeb.Entity;
@using FE_JobWeb.Others
@using Newtonsoft.Json
@{
    string json = Context.Session.GetString("User");
    JobSeekerUserLoginDatum user = null;
    if (!string.IsNullOrEmpty(json))
    {
        user = JsonConvert.DeserializeObject<JobSeekerUserLoginDatum>(json);
    }
}
@{

    JobSeekerContext db = new JobSeekerContext();
    ViewData["Title"] = "IndexCandidate";
    Layout = "~/Views/Shared/_LayoutRecuiter.cshtml";
}


<div id="content">
    <div class="content-admin-main">
        <div class="wt-admin-right-page-header clearfix">
            <h2>Hello <span> @(user != null ? user.FullName : "")</span></h2>
            <div class="breadcrumbs"><a href="@Url.Action("Index","Home")">Home</a><span> Dashboard</span></div>
        </div>

        <div class="twm-dash-b-blocks mb-5">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body dashboard-card-2 block-gradient">
                            <div class="wt-card-wrap-2">
                                <div class="wt-card-icon-2"><i class="flaticon-job"></i></div>
                                <div class="wt-card-right wt-total-active-listing  ">@ViewBag.Totalapply</div>
                                <div class="wt-card-bottom-2 ">
                                    <p class="m-b0 panel-title">Việc đã ứng tuyển</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body dashboard-card-2 block-gradient-2">
                            <div class="wt-card-wrap-2">
                                <div class="wt-card-icon-2"><i class="flaticon-resume"></i></div>
                                <div class="wt-card-right  wt-total-listing-view  ">@ViewBag.Totalsave</div>
                                <div class="wt-card-bottom-2">
                                    <p class="m-b0 panel-title">Việc đã lưu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="col-xl-3 col-lg-3 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body dashboard-card-2 block-gradient-3">
                            <div class="wt-card-wrap-2">
                                <div class="wt-card-icon-2"><i class="flaticon-hr"></i></div>
                                <div class="wt-card-right wt-total-listing-review  ">28</div>
                                <div class="wt-card-bottom-2">
                                    <p class="m-b0 panel-title">NTD đã theo dõi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
                <div class="col-xl-3 col-lg-3 col-md-12 mb-3">
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body dashboard-card-2 block-gradient-4">
                            <div class="wt-card-wrap-2">
                                <div class="wt-card-icon-2"><i class="flaticon-bell"></i></div>
                                <div class="wt-card-right wt-total-listing-bookmarked  ">@ViewBag.Totalnotification</div>
                                <div class="wt-card-bottom-2">
                                    <p class="m-b0 panel-title">Thông báo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="user-profile-card">
                <div class="panel-heading wt-panel-heading p-a20">
                    <h4 class="panel-tittle m-a0"><i class="fa fa-bell"></i> Các thông báo</h4>
                </div>
                @if (ViewBag.Notification.Count > 0)
                {
                    foreach (JobSeekerNotification i in ViewBag.Notification)
                    {
                        <a href="@Url.Action("NotificationForward","Home",new {id = i.Id, url = i.Title})">
                            <div class="user-notification mt-4">
                                <div class="user-notification-item">
                                    @* <div class="user-notification-icon">
                            <img src="images/jobs-company/axon-active-logo.jpg" alt="">
                            </div> *@
                                    <div class="user-notification-info">
                                        <p><b>@i.Description</b></p>
                                        <span>@(i.IsCreatedAt.HasValue ? i.IsCreatedAt.Value.ToString("dd/MM/yyyy HH:mm") : "Error")</span>
                                    </div>
                                    @if (i.IsSeen == true)
                                    {
                                        <i class="feather-check" style="color: green;"></i>
                                    }
                                    else
                                    {
                                        <i class="feather-check" style="color: red;"></i>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="twm-pro-view-chart-wrap">
            <div class="panel-body wt-panel-body m-b30 ">
                <div class="user-profile-card">
                    <div class="panel-heading wt-panel-heading p-a20">
                        <h4 class="panel-tittle m-a0"><i class="fa fa-briefcase"></i> Các công việc ứng tuyển gần đây</h4>
                    </div>
                    <div class="table-responsive profile-applied-job">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thông tin công việc</th>
                                    <th>Ngày ứng tuyển</th>
                                    <th>Hồ sơ đính kèm</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Jobapply != null && ViewBag.Jobapply.Count > 0)
                                {
                                    int d = 0;
                                    foreach (JobSeekerJobPostingApply i in ViewBag.Jobapply)
                                    {
                                        JobSeekerJobPosting job = db.JobSeekerJobPostings.FirstOrDefault(p => p.Id == i.JobPostingId);
                                        if (job == null) job = new JobSeekerJobPosting();
                                        JobSeekerEnterprise ent = db.JobSeekerEnterprises.FirstOrDefault(p => p.EnterpriseId == job.EnterpriseId);
                                        if (ent == null) ent = new JobSeekerEnterprise();
                                        JobSeekerCandidateProfile can = db.JobSeekerCandidateProfiles.FirstOrDefault(p => p.CandidateId == i.CandidateId);
                                        if (can == null) can = new JobSeekerCandidateProfile();
                                        d++;
                                        <tr>
                                            <td>@d</td>
                                            <td>
                                                <div class="profile-job-info">
                                                    <img src="@ent.LogoUrl" alt="">
                                                    <div class="profile-job-content">
                                                        <div class="job-title">
                                                            <h6><a href="@Url.Action("JobDetailHome", "Home", new {id = job.Id})">@job.JobTitle</a></h6>
                                                            <a href="@Url.Action("CompanyDetailHome", "Home", new {id = job.EnterpriseId})" class="job-employer">
                                                                <i class="far fa-building"></i>
                                                                @ent.FullCompanyName
                                                            </a>
                                                        </div>
                                                        <ul class="profile-job-list">
                                                            <li><i class="far fa-money-bill-alt"></i> @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", job.SalaryMin) - @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", job.SalaryMax)</li>
                                                            <li>
                                                                <i class="feather-map-pin"></i>  @job.Province
                                                            </li>
                                                            <li>
                                                                <i class="feather-calendar"></i>  @(job.ExpiredTime.HasValue ? job.ExpiredTime.Value.ToString("dd/MM/yyyy") : "Error")
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@(i.ApplyTime.HasValue ? i.ApplyTime.Value.ToString("dd/MM/yyyy") : "Error")</td>
                                            <td>
                                                <a href="@can.CvUrl" title="Download" target="blank" data-bs-toggle="tooltip" data-bs-placement="top" class="btn btn-outline-danger btn-sm">
                                                    <i class="feather-download"></i> Hồ sơ
                                                </a>
                                            </td>
                                            <td>
                                                @if (i.StatusCode == "SC7")
                                                {
                                                    <span class="job-tag-pending">Chờ xem xét</span>
                                                }
                                                else if (i.StatusCode == "SC6")
                                                {
                                                    <span class="job-tag-urgent">Không được nhận</span>
                                                }
                                                else
                                                {
                                                    <span class="job-tag-new">Gọi phỏng vấn</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0">
                    <i class="feather-save"></i> Công ty đang theo dõi
                </h4>
            </div>

            <div class="panel-body wt-panel-body m-b30 ">
                <div class="user-profile-card">
                    <div class="table-responsive profile-applied-job">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thông tin công việc</th>
                                    <th>Ngày lưu</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Jobsave != null && ViewBag.Jobsave.Count > 0)
                                {
                                    int d = 0;
                                    foreach (JobSeekerSavedJobPosting i in ViewBag.Jobsave)
                                    {
                                        JobSeekerJobPosting job = db.JobSeekerJobPostings.FirstOrDefault(p => p.Id == i.JobPostingId);
                                        if (job == null) job = new JobSeekerJobPosting();
                                        JobSeekerEnterprise ent = db.JobSeekerEnterprises.FirstOrDefault(p => p.EnterpriseId == job.EnterpriseId);
                                        if (ent == null) ent = new JobSeekerEnterprise();
                                        JobSeekerCandidateProfile can = db.JobSeekerCandidateProfiles.FirstOrDefault(p => p.CandidateId == user.Id);
                                        if (can == null) can = new JobSeekerCandidateProfile();
                                        d++;
                                        <tr>
                                            <td>@d</td>
                                            <td>
                                                <div class="profile-job-info">
                                                    <img src="@ent.LogoUrl" alt="">
                                                    <div class="profile-job-content">
                                                        <div class="job-title">
                                                            <h6><a href="@Url.Action("JobDetailHome", "Home", new {id = job.Id})">@job.JobTitle</a></h6>
                                                            <a href="@Url.Action("CompanyDetailHome", "Home", new {id = job.EnterpriseId})" class="job-employer">
                                                                <i class="far fa-building"></i>
                                                                @ent.FullCompanyName
                                                            </a>
                                                        </div>
                                                        <ul class="profile-job-list">
                                                            <li><i class="far fa-money-bill-alt"></i> @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", job.SalaryMin) - @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", job.SalaryMax)</li>
                                                            <li>
                                                                <i class="feather-map-pin"></i>  @job.Province
                                                            </li>
                                                            <li>
                                                                <i class="feather-calendar"></i>  @(job.ExpiredTime.HasValue ? job.ExpiredTime.Value.ToString("dd/MM/yyyy") : "Error")
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@(i.SavedAt.HasValue ? i.SavedAt.Value.ToString("dd/MM/yyyy") : "Error")</td>
                                            <td>
                                                <a href="@Url.Action("JobSaveCandidateDelete","Home", new {id = i.Id})" class="btn btn-outline-danger btn-sm">
                                                    <i class="feather-heart"></i> Hủy lưu
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



