@using Data_JobWeb.Entity
@{
    JobSeekerContext db = new JobSeekerContext();
}
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">

    <!--Banner Start-->
    <div class="twm-home3-banner-section site-bg-white bg-cover"
         style="background-image:url(/Content/images/home-3/banner1.jpg)">
        <div class="twm-home3-inner-section">
            <div class="twm-bnr-mid-section">
                <div class="twm-bnr-title-large">Find Top IT Jobs</div>
                <div class="twm-bnr-title-light">For talent Developers</div>
                <div class="twm-bnr-discription">
                    Type your keyword, then click search to find your perfect job.
                </div>

                <div class="twm-bnr-search-bar">
                    <form action="@Url.Action("JobHomeSearch", "Home")" method="get">
                        <div class="row">
                            <!--Title-->
                            <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                <label>Tên công việc</label>
                                <div class="twm-inputicon-box">
                                    <input name="search" type="text" class="form-control"
                                           placeholder="Job Title">
                                </div>
                            </div>
                            <input name="exp" type="hidden" value="all">
                            <input name="joblevel" type="hidden" value="all">
                            <!--All Category-->
                            <div class="form-group col-xl-4 col-lg-6 col-md-6">
                                <label>Ngành nghề</label>
                                <select class="wt-search-bar-select selectpicker" data-live-search="true" name="category" required
                                        title="" id="j-All_Category" data-bv-field="size">
                                    <option disabled value="">Select Category</option>
                                    <option selected value="all">All Category</option>
                                    @if (ViewBag.Jobcategory != null)
                                    {
                                        foreach (var i in ViewBag.Jobcategory)
                                        {
                                            <option value="@i.Id">@i.JobCategoryName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <!--Location-->
                            <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                <label>Địa điểm</label>
                                <div class="twm-inputicon-box">
                                    <select class="wt-search-bar-select selectpicker" data-live-search="true" name="city" required
                                            title="" id="j-All_Category" data-bv-field="size">
                                        <option disabled value="">Select Location</option>
                                        <option selected value="all">All Location</option>
                                        @if (ViewBag.City != null)
                                        {
                                            foreach (var i in ViewBag.City)
                                            {
                                                <option value="@i.Name">@i.Name</option>
                                            }
                                        }
                                    </select>
                    @* <input name="username" type="text" required class="form-control"
                                    placeholder="Location"> *@
                                    @* <i class="twm-input-icon fas fa-map-marker-alt"></i> *@
                                </div>
                            </div>

                            <!--Find job btn-->
                            <div class="form-group col-xl-2 col-lg-6 col-md-6">
                                <button type="submit" class="site-button">Tìm kiếm</button>
                            </div>

                        </div>
                    </form>
                </div>

                @* <div class="twm-bnr-popular-search">
                    <span class="twm-title">Popular Searches:</span>
                    <a href="job-list.html">Developer</a> ,
                    <a href="job-list.html">Designer</a> ,
                    <a href="job-list.html">Architect</a> ,
                    <a href="job-list.html">Engineer</a> ...
                </div> *@
            </div>
            <div class="twm-bnr-bottom-section">
                <div class="twm-browse-jobs">7,000+ Browse Jobs</div>
                <div class="twm-bnr-blocks-wrap">
                    <!--icon-block-1-->
                    <div class="twm-bnr-blocks twm-bnr-blocks-position-1">
                        <div class="twm-content">
                            <div class="tw-count-number text-clr-pink">
                                <span class="counter">12</span>K+
                            </div>
                            <p class="icon-content-info">Companies Jobs</p>
                        </div>
                    </div>

                    <!--icon-block-2-->
                    <div class="twm-bnr-blocks twm-bnr-blocks-position-2">
                        <div class="twm-content">
                            <div class="tw-count-number text-clr-yellow">
                                <span class="counter">98</span> +
                            </div>
                            <p class="icon-content-info">Job For Countries </p>
                        </div>
                    </div>

                    <!--icon-block-3-->
                    <div class="twm-bnr-blocks-3 twm-bnr-blocks-position-3">
                        <div class="twm-pics">
                            <span><img src="~/Content/images/main-slider/slider1/user/u-1.jpg" alt=""></span>
                            <span><img src="~/Content/images/main-slider/slider1/user/u-2.jpg" alt=""></span>
                            <span><img src="~/Content/images/main-slider/slider1/user/u-3.jpg" alt=""></span>
                            <span><img src="~/Content/images/main-slider/slider1/user/u-4.jpg" alt=""></span>
                            <span><img src="~/Content/images/main-slider/slider1/user/u-5.jpg" alt=""></span>
                            <span><img src="~/Content/images/main-slider/slider1/user/u-6.jpg" alt=""></span>
                        </div>
                        <div class="twm-content">
                            <div class="tw-count-number text-clr-green">
                                <span class="counter">3</span>K+
                            </div>
                            <p class="icon-content-info">Jobs Done</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section-full p-t120 p-b90 site-bg-white twm-job-categories-hpage-6-area">
        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div>Ngành nghề</div>
            </div>
            <h2 class="wt-title fw-bold">NGÀNH NGHỀ NỔI BẬT</h2>
        </div>
        <div class="container">
            <div class="twm-job-cat-hpage-6-wrap">
                <div class="job-cat-block-hpage-6-section m-b30">
                    <div class="row">
                        <!-- COLUMNS 1 -->
                        @if(ViewBag.Category != null && ViewBag.Category.Count > 0)
                        {
                            foreach(JobSeekerJobCategory i in ViewBag.Category)
                            {
                                List<JobSeekerJobPosting> ljob = db.JobSeekerJobPostings.Where(p => p.JobCategoryId == i.Id && p.StatusCode == "SC5").ToList();
                                <div class="col">
                                    <div class="job-cat-block-hpage-6 m-b30">
                                        <div class="twm-media">
                                            <div class="flaticon-dashboard"></div>
                                        </div>
                                        <div class="twm-content">
                                            <a href="@Url.Action("JobHomeSearch", "Home", new{ category = i.Id, city = "all", joblevel = "all", exp = "all"})">@i.JobCategoryName</a>
                                            <div class="twm-jobs-available"><span>@ljob.Count</span> Posted new jobs</div>
                                            <div class="circle-line-wrap">
                                                <a class="circle-line-btn" href="@Url.Action("JobHomeSearch", "Home", new{ category = i.Id, city = "all", joblevel = "all", exp = "all"})">
                                                    <i class="fa fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                <div class="text-center job-categories-btn">
                            <a href="@Url.Action("JobHome", "Home")" class=" site-button">All Categories</a>
                </div>

            </div>

        </div>
    </div>


    <!-- TOP COMPANIES START -->
    <div class="section-full p-t120 p-b90 site-bg-white twm-companies-wrap">
        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div>Doanh nghiệp</div>
            </div>
            <h2 class="wt-title fw-bold">DOANH NGHIỆP NỔI BẬT</h2>
        </div>

        <div class="container">
            <div class="section-content">
                <div class="owl-carousel home-client-carousel3 owl-btn-vertical-center">
                            @if (ViewBag.Company != null && ViewBag.Company.Count > 0)
                            {
                                foreach (JobSeekerEnterprise i in ViewBag.Company)
                                {
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                                <a href="@Url.Action("CompanyDetailHome","Home",new{ id = i.EnterpriseId})"><img src="@i.LogoUrl" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                </div>
            </div>
            <div class="twm-company-approch2-outer">
                <div class="twm-company-approch2">
                    <div class="row">

                        <!--block 1-->
                        <div class="col-lg-4 col-md-4">
                            <div class="counter-outer-two">
                                <div class="icon-content">
                                    <div class="tw-count-number site-text-black">
                                        <span class="counter">5</span>M+
                                    </div>
                                    <p class="icon-content-info">Million daily active users</p>
                                </div>
                            </div>
                        </div>

                        <!--block 2-->
                        <div class="col-lg-4 col-md-4">
                            <div class="counter-outer-two">
                                <div class="icon-content">
                                    <div class="tw-count-number site-text-black">
                                        <span class="counter">9</span>K+
                                    </div>
                                    <p class="icon-content-info">Open job positions</p>
                                </div>
                            </div>
                        </div>

                        <!--block 3-->
                        <div class="col-lg-4 col-md-4">
                            <div class="counter-outer-two">
                                <div class="icon-content">
                                    <div class="tw-count-number site-text-black">
                                        <span class="counter">2</span>M+
                                    </div>
                                    <p class="icon-content-info">Million stories shared</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- TOP COMPANIES END -->
    <!-- HOW IT WORK SECTION START -->
    <div class="section-full p-t120 p-b90 site-bg-gray twm-how-it-work-area">
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                    <div>Quy trình</div>
                </div>
                <h2 class="wt-title fw-bold">CÁCH ỨNG TUYỂN</h2>

            </div>
            <!-- TITLE END-->
            <div class="twm-how-it-work-section3">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="twm-w-process-steps3">
                            <div class="twm-w-pro-top">
                                <span class="twm-large-number  text-clr-sky">01</span>
                                <div class="twm-media bg-clr-sky">
                                    <span><img src="~/Content/images/work-process/icon1.png" alt="icon1"></span>
                                </div>
                            </div>
                            <h4 class="twm-title">Register Your Account</h4>
                            <p>You need to create an account to find the best and preferred job.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="twm-w-process-steps3">
                            <div class="twm-w-pro-top">
                                <span class="twm-large-number text-clr-pink">02</span>
                                <div class="twm-media bg-clr-pink">
                                    <span><img src="~/Content/images/work-process/icon2.png" alt="icon1"></span>
                                </div>
                            </div>
                            <h4 class="twm-title">Apply For Dream Job</h4>
                            <p>You need to create an account to find the best and preferred job.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="twm-w-process-steps3">
                            <div class="twm-w-pro-top">
                                <span class="twm-large-number  text-clr-green">03</span>
                                <div class="twm-media  bg-clr-green">
                                    <span><img src="~/Content/images/work-process/icon3.png" alt="icon1"></span>
                                </div>
                            </div>
                            <h4 class="twm-title">Upload Your Resume</h4>
                            <p>You need to create an account to find the best and preferred job.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- FEATURED SECTION START -->
    <div class="section-full p-t120 p-b90 site-bg-white twm-featured-city-area">
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                    <div>Địa điểm nổi bật</div>
                </div>
                <h2 class="wt-title fw-bold">ĐỊA ĐIỂM PHỔ BIẾN</h2>
            </div>
            <!-- TITLE END-->

            <div class="twm-featured-city-section">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <div class="twm-featured-city twm-large-block">
                            <div class="twm-media">
                                <img src="~/Content/images/featured-cities/hochiminhhome.jpg" alt="">
                                <div class="twm-city-info">
                                            <div class="twm-city-jobs">@(ViewBag.Hochiminh != null ? (ViewBag.Hochiminh + " Jobs") : "0 jobs")</div>
                                    <h4 class="twm-title"><a href="@Url.Action("JobHomeSearch", "Home", new{ category = "all", city = "Thành phố Hồ Chí Minh", joblevel = "all", exp = "all"})">Hồ Chí Minh</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="twm-featured-city">
                                    <div class="twm-media">
                                        <img src="~/Content/images/featured-cities/hanoihome.jpg" alt="">
                                        <div class="twm-city-info">
                                                    <div class="twm-city-jobs">@(ViewBag.Hanoi != null ? (ViewBag.Hanoi + " Jobs") : "0 jobs")</div>
                                                    <h4 class="twm-title"><a href="@Url.Action("JobHomeSearch", "Home", new{ category = "all", city = "Thành phố Hà nội", joblevel = "all", exp = "all"})">Hà Nội</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="twm-featured-city">
                                    <div class="twm-media">
                                        <img src="~/Content/images/featured-cities/dananghome.jpg" alt="">
                                        <div class="twm-city-info">
                                            <div class="twm-city-jobs">@(ViewBag.Danang != null ? (ViewBag.Danang + " Jobs") : "0 jobs")</div>
                                                    <h4 class="twm-title"><a href="@Url.Action("JobHomeSearch", "Home", new{ category = "all", city = "Thành phố Đà Nẵng", joblevel = "all", exp = "all"})">Đà Nẵng</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Recruiters START -->
    <div class="section-full p-t120 p-b90 site-bg-white">
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                    <div>Top doanh nghiệp</div>
                </div>
                <h2 class="wt-title fw-bold">NỔI BẬT</h2>

            </div>
            <!-- TITLE END-->


            <div class="section-content">
                <div class="twm-recruiters5-wrap">
                    <div class="twm-column-5 m-b30">
                        <ul>
                            @if (ViewBag.Company != null && ViewBag.Company.Count > 0)
                            {
                                foreach (JobSeekerEnterprise i in ViewBag.Company)
                                {
                                    <li>
                                        <div class="twm-recruiters5-box">
                                            <div class="twm-rec-top">
                                                <div class="twm-rec-media">
                                                    <img src="@i.LogoUrl" alt="#">
                                                </div>
                                                <div class="twm-rec-jobs">@(db.JobSeekerJobPostings.Where(p => p.EnterpriseId == i.EnterpriseId && p.StatusCode == "SC5").Count()) Jobs</div>
                                            </div>
                                            <div class="twm-rec-content">
                                                        <h4 class="twm-title"><a href="@Url.Action("CompanyDetailHome","Home",new{ id = i.EnterpriseId})">@i.FullCompanyName</a></h4>
                                                <div class="twm-rec-rating-wrap">
                                                    <div class="twm-rec-rating">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                    </div>
                                                    <div class="twm-rec-rating-count">(68)</div>
                                                </div>
                                                <div class="twm-job-address">
                                                    <i class="feather-map-pin"></i>@i.City
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            <!--1-->
                            
                            
                        </ul>
                    </div>
                    <div class="text-center m-b30">
                                <a href="@Url.Action("CompanyHome","Home")" class="site-button">View All</a>
                    </div>
                </div>
            </div>

        </div>
    </div>




</div>
</div>
</div>
