@using Data_JobWeb.Entity
@using FE_JobWeb.Others
@inject ApplicationUser user
@model JobSeekerJobPosting
@{
    ViewData["Title"] = "JobDetailHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(/Content/images/banner/1.jpg);">
        <div class="overlay-main site-bg-white opacity-01"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Chi tiết công việc</h2>
                    </div>
                </div>
                <div>
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li>Chi tiết công việc</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section-full  p-t120 p-b90 bg-white">
        <div class="container">
            <div class="section-content">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4 col-md-12 rightSidebar">
                        <div class="side-bar mb-4">
                            <div class="twm-s-info2-wrap mb-5 ">
                                <div class="widget twm-s-info2">
                                    <h4 class="section-head-small mb-4 fw-bold">Thông tin công việc</h4>
                                    <ul class="twm-job-hilites2">
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-money-bill-wave"></i>
                                                <span class="twm-title">Mức lương</span>
                                                <div class="twm-s-info-discription">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", Model.SalaryMin) - @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", Model.SalaryMax)</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-certificate"></i>
                                                <span class="twm-title">Cấp bậc</span>
                                                @if(ViewBag.Joblevel != null && ViewBag.Joblevel.Count > 0)
                                                {
                                                    foreach(JobSeekerJobLevel i in ViewBag.Joblevel)
                                                    {
                                                        if(i.Id == Model.JobLevelCode)
                                                        {
                                                            <div class="twm-s-info-discription">@i.JobLevelName</div>
                                                            break;
                                                        }
                                                    }
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-hourglass"></i>
                                                <span class="twm-title">Yêu cầu kinh nghiệm</span>
                                                @if(Model.ExpRequirement != "0")
                                                {
                                                    <div class="twm-s-info-discription">@Model.ExpRequirement năm</div>
                                                }
                                                else
                                                {
                                                    <div class="twm-s-info-discription">Không yêu cầu</div>
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-file-signature"></i>
                                                <span class="twm-title">Số lượng tuyển</span>
                                                <div class="twm-s-info-discription">@Model.Quantity người</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-briefcase"></i>
                                                <span class="twm-title">Hình thức làm việc</span>
                                                @if(Model.WorkingType == "fulltime")
                                                {
                                                    <div class="twm-s-info-discription">Full time</div>
                                                }
                                                else if(Model.WorkingType == "parttime")
                                                {
                                                    <div class="twm-s-info-discription">Part time</div>
                                                }
                                                else
                                                {
                                                    <div class="twm-s-info-discription">Intern</div>
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-venus-mars"></i>
                                                <span class="twm-title">Giới tính</span>
                                                @if (Model.GenderRequire == "male")
                                                {
                                                    <div class="twm-s-info-discription">Nam</div>
                                                }
                                                else if (Model.GenderRequire == "female")
                                                {
                                                    <div class="twm-s-info-discription">Nữ</div>
                                                }
                                                else
                                                {
                                                    <div class="twm-s-info-discription">Không yêu cầu</div>
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <div class="twm-s-info-inner">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <span class="twm-title">Địa điểm</span>
                                                <div class="twm-s-info-discription">@Model.Province</div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <div class="widget tw-sidebar-tags-wrap">
                                <h4 class="section-head-small mb-4">Danh mục nghề</h4>
                                @if (ViewBag.Jobcategory != null && ViewBag.Jobcategory.Count > 0)
                                {
                                    foreach (JobSeekerJobCategory i in ViewBag.Jobcategory)
                                    {
                                        if (i.Id == Model.JobCategoryId)
                                        {
                                            <div class="tagcloud">
                                                <a href="@Url.Action("JobHomeSearch", "Home", new{ category = i.Id, city = "all", joblevel = "all", exp = "all"})">@i.JobCategoryName</a>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                            </div>

                            <div class="widget tw-sidebar-tags-wrap">
                                <h4 class="section-head-small mb-4">Khu vực</h4>

                                <div class="tagcloud">
                                    <a href="@Url.Action("JobHomeSearch", "Home", new{ city = Model.Province, category = "all", joblevel = "all", exp = "all"})">@Model.Province</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="cabdidate-de-info">
                            <div class="twm-job-self-wrap">
                                <div class="twm-job-self-info">
                                    <div class="twm-job-self-top">

                                        @{
                                            JobSeekerContext db = new JobSeekerContext();
                                            JobSeekerEnterprise o1 = db.JobSeekerEnterprises.FirstOrDefault(p => p.EnterpriseId == Model.EnterpriseId);
                                            if (o1 == null) o1 = new JobSeekerEnterprise();
                                        }
                                        <div class="twm-mid-content">
                                            <div class="twm-media">
                                                <a href="@Url.Action("CompanyDetailHome", "Home", new {id = o1.EnterpriseId})">
                                                    <img src="@o1.LogoUrl" alt="#">
                                                </a>
                                            </div>
                                            <h4 class="twm-job-title">@Model.JobTitle</h4>
                                            <div class="twm-ep-detail-tags mb-3 d-flex">
                                                <p class="twm-job-address m-r20">
                                                    <i class="feather-map-pin"></i>@Model.Province
                                                </p>
                                                <p class="twm-job-deadline m-r20">
                                                    <i class="feather-map-pin"></i> <span>Hạn nộp hồ sơ:</span>
                                                    @(Model.ExpiredTime.HasValue ? Model.ExpiredTime.Value.ToString("dd/MM/yyyy") : "Error")
                                                </p>
                                                <p class="twm-job-time-posting m-r20">
                                                    <i class="feather-map-pin"></i> <span>Đăng ngày:</span>
                                                    @(Model.IsCreatedAt.HasValue ? Model.IsCreatedAt.Value.ToString("dd/MM/yyyy") : "Error")
                                                </p>
                                                <p class="twm-job-time-posting">
                                                    <i class="feather-map-pin"></i>
                                                    <span>Số lượng:</span> @Model.Quantity
                                                </p>

                                            </div>

                                            <div class="twm-job-self-bottom">
                                                <a class="site-button" data-bs-toggle="modal"
                                                   href="#apply_job_popup" role="button">
                                                    <span><i class="feather-send"></i></span>
                                                    Ứng tuyển ngay
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4 class="twm-s-title">Mô tả công việc:</h4>

                            <p>@Model.JobDesc</p>


                            <h4 class="twm-s-title">Yêu cầu:</h4>
                            <ul class="description-list-2">
                                <li>@Model.JobRequirement</li>

                            </ul>

                            <h4 class="twm-s-title">Quyền lợi:</h4>
                            <ul class="description-list-2">
                                <li>@Model.BenefitEnjoyed</li>

                            </ul>

                            <h4 class="twm-s-title">Địa điểm</h4>
                            <div class="twm-m-map mb-5">
                                <div class="twm-m-map-iframe">
                                    <iframe height="310"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.8534521658976!2d-118.2533646842856!3d34.073270780600225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c6fd9829c6f3%3A0x6ecd11bcf4b0c23a!2s1363%20Sunset%20Blvd%2C%20Los%20Angeles%2C%20CA%2090026%2C%20USA!5e0!3m2!1sen!2sin!4v1620815366832!5m2!1sen!2sin"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section-full p-t120 p-b90 site-bg-light-purple twm-related-jobs-carousel-wrap">
        <div class="section-head center wt-small-separator-outer">
            <h2 class="wt-title fw-bold">Việc làm tương tự</h2>
        </div>
        <div class="container">
            <div class="section-content">
                <div class="twm-jobs-list-wrap">
                    <ul>
                        @if (ViewBag.Listjob != null && ViewBag.Listjob.Count > 0)
                        {
                            foreach (JobSeekerJobPosting i in ViewBag.Listjob)
                            {
                                JobSeekerEnterprise o = db.JobSeekerEnterprises.FirstOrDefault(p => p.EnterpriseId == i.EnterpriseId);
                                if (o == null) o = new JobSeekerEnterprise();
                                <li>
                                    <div class="col-lg-12">
                                        <div class="job-item">
                                            <a href="@Url.Action("JobHomeSaveJob", "Home", new {id = i.Id})" class="job-bookmark"><i class="feather-bookmark"></i></a>
                                            <div class="job-top">
                                                @* <div class="job-img">
                                        <img src="images/jobs-company/axon-active-logo.jpg" alt="">
                                        </div> *@
                                                <div class="job-title">
                                                    <h5><a href="@Url.Action("JobDetailHome", "Home", new {id = i.Id})">@i.JobTitle</a></h5>
                                                    <a href="@Url.Action("CompanyDetailHome", "Home", new {id = i.EnterpriseId})" class="job-employer">
                                                        <i class="far fa-building"></i>
                                                        @o.FullCompanyName
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="job-content">
                                                <ul class="job-info-list">
                                                    <li><i class="feather-clock"></i> Hạn chót <span class="deadine">@(i.ExpiredTime.HasValue ? i.ExpiredTime.Value.ToString("dd/MM/yyyy") : "Error")</span></li>
                                                    <li><i class="feather-check-circle"></i> Full Time</li>
                                                    <li><i class="feather-map-pin"></i> @i.Province</li>
                                                </ul>
                                            </div>
                                            <div class="job-tag">
                                                <p><i class="feather-clock"></i> Ngày đăng <span class="deadine">@(i.IsCreatedAt.HasValue ? i.IsCreatedAt.Value.ToString("dd/MM/yyyy") : "Error")</span></p>
                                                @* <p href="#" class="job-tag-new">Mới</p> *@
                                                @* <a href="#" class="job-tag-urgent">Tuyển gấp</a> *@
                                            </div>
                                            <div class="job-bottom">
                                                <div class="job-salary">
                                                    <span class="job-salary-amount">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", i.SalaryMin) - @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", i.SalaryMax)</span>
                                                </div>
                                                <a href="@Url.Action("JobDetailHome", "Home", new {id = i.Id})" class="theme-btn">Ứng tuyển ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="apply_job_popup" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title fw-bold" id="sign_up_popupLabel">Ứng tuyển</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="apl-job-inpopup">
                    <!--Basic Information-->
                    <div class="panel panel-default">
                        <div class="panel-body wt-panel-body p-a20 ">
                            <div class="twm-tabs-style-1">
                                <div class="row">
                                    <div class="form-title">
                                        <h5>
                                            Middle/Senior Business Analyst - Digital Bank
                                            Builder tại TymeX
                                        </h5>
                                    </div>
                                    <form action="@Url.Action("JobDetailHome","Home")" method="post" enctype="multipart/form-data">
                                        <input type="hidden" id="id" value="@Model.Id" required>
                                        <div class="mb-3">
                                            <label for="name" class="twm-title">
                                                Họ và Tên <span class="required">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="cvOption" class="twm-title">
                                                CV ứng tuyển <span class="required">*</span>
                                            </label>
                                            <div>
                                                @if (user.User != null)
                                                {
                                                    JobSeekerCandidateProfile c = db.JobSeekerCandidateProfiles.FirstOrDefault(p => p.CandidateId == user.User.Id);
                                                    if (c == null) c = new JobSeekerCandidateProfile();
                                                    if (c.CvUrl != null)
                                                    {
                                                        <iframe id="cviframe" style="align-items: center; justify-content: center; margin-top: 5px"
                                                                src="@c.CvUrl#toolbar=0&view=FitH" width="212px" height="300px"
                                                                frameborder="0">
                                                        </iframe>
                                                        <a id="cvlink" href="@c.CvUrl" target="_blank">
                                                            <i class="feather-download job-tag-urgent" style="margin: 10px"></i>
                                                        </a>
                                                        <input type="hidden" name="cvurl" value="@c.CvUrl" required>
                                                    }
                                                }
                                            </div>
                                            <!--
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="cvOption"
                                                           id="existingCV" checked>
                                                    <label class="form-check-label" for="existingCV">
                                                        Sử dụng CV
                                                        hiện tại
                                                    </label>
                                                    <div class="mt-1 ms-4 text-muted"
                                                         onclick="openFilePreview()">
                                                        <span id="fileName">Thực_tập__net.pdf</span>
                                                    </div>
                                                </div>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="radio" name="cvOption"
                                                           id="uploadCV">
                                                    <label class="form-check-label" for="uploadCV">
                                                        Tải lên CV
                                                        mới
                                                    </label>
                                                </div>
                                                <button type="button" class="theme-btn theme-btn2 mt-3"
                                                        id="uploadButton" disabled>
                                                    Chọn file
                                                </button>
                                                <input type="file" id="fileInput" accept=".pdf, .doc, .docx"
                                                       style="display: none;">
                                                <div class="file-info" id="fileInfo"></div>
                                            </div>
                                            -->
                                        </div>
                                        <div class="mb-3">
                                            <label for="coverLetter" class="twm-title">
                                                Thư xin việc <span class="file-requirements">
                                                    (Không bắt
                                                    buộc)
                                                </span>
                                            </label>
                                            <textarea id="coverletter" rows="5" name="coverletter" class="form-control" style="height: 150px"></textarea>
                                            <!--
                                            <div class="text-area-hint">
                                                Còn lại 500 trong tổng số 500 ký tự
                                            </div>
                                            -->
                                        </div>
                                        <button type="submit" class="btn btn-primary">Gửi CV của tôi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

