@using Data_JobWeb.Entity;
@using FE_JobWeb.Others
@model PaginatedList<JobSeekerJobCategory>
@{
    ViewData["Title"] = "ManageCategoryAdmin";
    Layout = "~/Views/Shared/_LayoutRecuiter.cshtml";
}

<div id="content">
    <div class="content-admin-main">
        <div class="wt-admin-right-page-header clearfix">
            <h3>Admin - Danh sách các ngành nghề</h3>
            <div class="breadcrumbs">
                <a href="@Url.Action("Index","Home")">Trang chủ</a><a href="@Url.Action("IndexAdmin","Index")"> Dashboard</a><span>
                    Danh
                    sách các ngành nghề
                </span>
            </div>
        </div>

        <div class="twm-pro-view-chart-wrap">
            <div class="panel panel-default site-bg-white m-t30">
                <div class="panel-heading-with-btn  wt-panel-heading p-a20">
                    <h4 class="panel-tittle m-a0">
                        <i class="far fa-list-alt"></i> Danh sách các ngành nghề
                    </h4>
                    <a data-bs-toggle="modal" href="#JobCategoryAddModal" role="button" title="Add"
                       class="site-text-primary">
                        <span class="fa-2x feather-plus-circle"></span>
                    </a>
                </div>

                <form action="@Url.Action("ManageCategoryAdmin","Home", new{ type = "1"})" method="post">
                    <div class="row">
                        <div class="col-xl-10 col-lg-12 col-md-8 mt-3">
                            <div class="ls-inputicon-box">
                                <input class="form-control" name="search" type="text" placeholder="Tìm kiếm" required />
                                <i class="fs-input-icon feather-search"></i>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-6 mt-3">
                            <button type="submit" class="theme-btn w-100">Tìm kiếm</button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive profile-applied-job mt-3">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên ngành nghề</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Items != null && Model.Items.Count > 0)
                            {

                                int d = 0;
                                foreach (JobSeekerJobCategory i in Model.Items)
                                {
                                    d++;
                                    <tr>
                                        <td>@d</td>
                                        <td>
                                            @i.JobCategoryName
                                        </td>
                                        <td>
                                            @* <a data-bs-toggle="modal" href="#JobCategoryModal"
                                    class="btn btn-outline-secondary btn-sm"><i class="feather-eye"></i></a> *@
                                            <a data-bs-toggle="modal" href="#JobCategoryEditModal" onclick="loadFormEdit('@Html.Raw(i.Id)', '@Html.Raw(i.JobCategoryName)')"
                                               class="btn btn-outline-info btn-sm">
                                                <i class="feather-edit"></i>
                                            </a>
                                            <a data-bs-toggle="modal" href="#DeleteJobCategoryModal" onclick="loadFormDelete('@Html.Raw(i.Id)')"
                                               class="btn btn-outline-danger btn-sm">
                                                <i class="feather-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="pagination-outer">
                    <div class="pagination-style1">
                        <ul class="clearfix">
                            <!-- Previous Page -->
                            @if (Model.HasPreviousPage)
                            {
                                <li class="prev">
                                    <a href="@Url.Action("ManageCategoryAdmin", "Home", new { page = Model.CurrentPage - 1 })">
                                        <span>
                                            <i class="fa fa-angle-left"></i>
                                        </span>
                                    </a>
                                </li>
                            }
                            <!-- Page Numbers -->
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                if (Model.TotalPages >= 5)
                                {
                                    if (i == Model.CurrentPage - 1)
                                    {
                                        if (i > 3)
                                        {
                                            <li>
                                                <a class="javascript:;" href="javascript:;">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </li>
                                        }
                                    }
                                    if (i == 1 || i == 2 || i == Model.TotalPages || i == Model.TotalPages - 1 || i == Model.CurrentPage || i == Model.CurrentPage - 1 || i == Model.CurrentPage + 1)
                                    {
                                        <li class="@(i == Model.CurrentPage ? "active" : "")">
                                            <a href="@Url.Action("ManageCategoryAdmin", "Home", new { page = i })">@i</a>
                                        </li>
                                    }
                                    if (i == Model.CurrentPage + 1)
                                    {
                                        if (i < Model.TotalPages - 2)
                                        {
                                            <li>
                                                <a class="javascript:;" href="javascript:;">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li class="@(i == Model.CurrentPage ? "active" : "")">
                                        <a href="@Url.Action("ManageCategoryAdmin", "Home", new { page = i })">@i</a>
                                    </li>
                                }
                            }
                            <!-- Next Page -->
                            @if (Model.HasNextPage)
                            {
                                <li class="next">
                                    <a href="@Url.Action("ManageCategoryAdmin", "Home", new { page = Model.CurrentPage + 1 })">
                                        <span>
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="JobCategoryAddModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="@Url.Action("ManageCategoryAdmin","Home", new{ type = "2"})" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Thông tin ngành nghề</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body wt-panel-body m-b20 ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="jobCategory" class="form-label">
                                                Tên ngành nghề <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="nameadd" type="text" required
                                                       id="nameadd" />
                                                <i class="fs-input-icon far fa-briefcase"></i>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="form-group">
                                    <label for="jobCategoryIcon" class="form-label">
                                    Icon <span class="required">*</span>
                                    </label>
                                    <div class="upload-container d-flex flex-wrap align-items-start mt-3">
                                    <div id="img-job-category-preview" class="d-flex flex-wrap">
                                    </div>
                                    <label for="img-upload-job-category" class="upload-box m-2">
                                    <i class="bi bi-plus-circle"></i>
                                    <span> Tải lên</span>
                                    </label>
                                    <input id="img-upload-job-category" type="file"
                                    class="d-none" onchange="previewFileJobCategory()">
                                    </div>
                                    </div>
                                    </div> *@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="site-button m-r10">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="JobCategoryEditModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="@Url.Action("ManageCategoryAdmin","Home", new{ type = "3"})" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Thông tin ngành nghề</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input id="idedit" name="idedit" type="hidden" required />
                <div class="modal-body">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body wt-panel-body m-b20 ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="jobCategory" class="form-label">
                                                Tên ngành nghề <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="nameedit" type="text" required
                                                       id="nameedit" />
                                                <i class="fs-input-icon far fa-briefcase"></i>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="jobCategoryIcon" class="form-label">
                                                Icon <span class="required">*</span>
                                            </label>
                                            <div class="upload-container d-flex flex-wrap align-items-start mt-3">
                                                <div id="img-job-category-preview" class="d-flex flex-wrap">
                                                </div>
                                                <label for="img-upload-job-category" class="upload-box m-2">
                                                    <i class="bi bi-plus-circle"></i>
                                                    <span> Tải lên</span>
                                                </label>
                                                <input id="img-upload-job-category" type="file"
                                                       class="d-none" onchange="previewFileJobCategory()">
                                            </div>
                                        </div>
                                    </div> *@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="site-button m-r10">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade twm-model-popup" id="DeleteJobCategoryModal" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("ManageCategoryAdmin","Home", new{ type = "4"})" method="post">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Việc này sẽ xóa các dữ liệu lên quan đến ngành nghề này. Bạn có chắc chắn muốn xóa?</h4>
                </div>
                <input id="iddelete" name="iddelete" type="hidden" required />
                <div class="modal-footer">
                    <button type="button" class="theme-btn theme-btn2 mt-3" data-bs-dismiss="modal">Không</button>
                    <button type="submit" class="theme-btn theme-btn2 mt-3">Có</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function loadFormAdd(nameadd) {
        document.getElementById('nameadd').value = nameadd;
    }
    function loadFormEdit(idedit, nameedit) {
        document.getElementById('idedit').value = idedit;
        document.getElementById('nameedit').value = nameedit;
    }
    function loadFormDelete(iddelete) {
        document.getElementById('iddelete').value = iddelete;
    }
</script>