@using Data_JobWeb.Entity
@using FE_JobWeb.Others
@using Newtonsoft.Json
@{
    string json = Context.Session.GetString("User");
    JobSeekerUserLoginDatum user = null;
    if (!string.IsNullOrEmpty(json))
    {
        user = JsonConvert.DeserializeObject<JobSeekerUserLoginDatum>(json);
    }
}
@{

    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_LayoutRecuiter.cshtml";
}

<div id="content">
    <div class="content-admin-main">

        @if (user.RoleId == 3)
        {
            <div class="wt-admin-right-page-header clearfix">
                <h2>Thông tin tài khoản</h2>
                <div class="breadcrumbs">
                    <a href="@Url.Action("Index","Home")">Trang chủ</a><a href="@Url.Action("IndexCandidate","Home")"> Dasboard</a><span> Tài khoản</span>
                </div>
            </div>
        }
        @if (user.RoleId == 2)
        {
            <div class="wt-admin-right-page-header clearfix">
                <h2>Thông tin tài khoản</h2>
                <div class="breadcrumbs">
                    <a href="@Url.Action("Index","Home")">Trang chủ</a><a href="@Url.Action("IndexRecruiter","Home")"> Dasboard</a><span> Tài khoản</span>
                </div>
            </div>
        }
        @if (user.RoleId == 1)
        {
            <div class="wt-admin-right-page-header clearfix">
                <h2>Thông tin tài khoản</h2>
                <div class="breadcrumbs">
                    <a href="@Url.Action("Index","Home")">Trang chủ</a><a href="@Url.Action("IndexAdmin","Home")"> Dasboard</a><span> Tài khoản</span>
                </div>
            </div>
        }

        <div class="panel panel-default">
            <div class="panel-body wt-panel-body p-a20">
                <div class="twm-tabs-style-1">
                    <ul class="nav nav-tabs" id="myTab3" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#AccountInfo"
                                    type="button" role="tab">
                                Thông tin tài khoản
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#ChangePassword"
                                    type="button" role="tab">
                                Thay đổi mật khẩu
                            </button>
                        </li>
                        @if (user.RoleId == 3)
                        {
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Settings"
                                        type="button" role="tab">
                                    Cài đặt thông báo việc làm
                                </button>
                            </li>
                        }
                    </ul>

                    <div class="tab-content" id="myTab3Content">
                        <div class="tab-pane fade show active" id="AccountInfo">
                            <form action="@Url.Action("MyProfile","Account")" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <div class="dashboard-profile-pic">
                                                <div class="dashboard-profile-photo">
                                                    <img src="@user.AvartarUrl" alt="" />
                                                    <div class="upload-btn-wrapper">
                                                        <div id="upload-image-grid"></div>
                                                        <button class="site-button button-sm">Upload Photo</button>
                                                        <input type="file" name="image" id="file-uploader"
                                                               accept=".jpg, .jpeg, .png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="fullName" class="form-label">
                                                Họ tên <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="fullname" type="text"
                                                       placeholder="Your name" id="fullName" value="@user.FullName" />
                                                <i class="fs-input-icon fa fa-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="email" class="form-label">
                                                Email <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="email" type="email" value="@user.Email"
                                                       placeholder="Your Email" id="email" />
                                                <i class="fs-input-icon fas feather-mail"></i>
                                            </div>
                                        </div>
                                    </div>

                                    @* <div class="col-xl-6 col-lg-6 col-md-12">
                                    <div class="form-group">
                                    <label for="passwordAccount" class="form-label">
                                    Mật khẩu <span class="required">*</span>
                                    </label>
                                    <div class="ls-inputicon-box">
                                    <input class="form-control" name="password" type="password" value="@user.p"
                                    id="passwordAccount" disabled />
                                    <i class="fs-input-icon fa fa-key"></i>
                                    </div>
                                    </div>
                                    </div> *@

                                    <div class="col-lg-12 col-md-12">
                                        <div class="text-left">
                                            <button type="submit" class="site-button">Lưu thay đổi</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="ChangePassword">
                            <form action="@Url.Action("ChangePassword","Account")" method="post">
                                <div class="row">

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="oldPassword" class="form-label">
                                                Mật khẩu cũ <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="oldpassword" type="password"
                                                       id="oldPassword" />
                                                <i class="fs-input-icon fa fa-key"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="newPassword" class="form-label">
                                                Mật khẩu mới <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="newpassword" type="password"
                                                       id="newPassword" />
                                                <i class="fs-input-icon fa fa-key"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="confirmPassword" class="form-label">
                                                Nhập lại mật khẩu mới
                                                <span class="required">*</span>
                                            </label>
                                            <div class="ls-inputicon-box">
                                                <input class="form-control" name="confirmnewpassword" type="password"
                                                       id="confirmPassword" />
                                                <i class="fs-input-icon fa fa-key"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="text-left">
                                            <button type="submit" class="site-button">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        @if (user.RoleId == 3)
                        {
                            <!-- Cai dat thong bao goi y viec lam -->
                            <div class="tab-pane fade" id="Settings">
                                <form action="@Url.Action("NotificationSettingCandidate","Account")" method="post">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="keyword" class="form-label">
                                                    Nhập từ khóa công việc mà bạn mong muốn, khi có bài đăng có tên chứa từ khóa chúng tôi sẽ thông báo đến bạn qua email!
                                                </label>
                                                <div class="ls-inputicon-box">
                                                    <input class="form-control" name="keyword" type="text" required
                                                           placeholder="Your keyword" id="keyword" />
                                                    @* <i class="fs-input-icon fas feather-mail"></i> *@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <div class="form-check d-flex">
                                                <span class="d-inline-block m-r40 fw-bold fa-1x">
                                                    Nhận thông báo qua:
                                                </span>
                                                <input id="jobUrgent" type="radio" class="form-check-input" checked>
                                                <label for="jobUrgent"
                                                       class="form-label form-check-label m-l10">Email</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mt-3">
                                            <div class="text-left">
                                                <button type="submit" class="site-button">Đăng ký</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

